<%= image_tag @whiskey.image.url(:medium) %>
<p>
  <strong>Title:</strong>
  <%= @whiskey.title %>
</p>

<p>
  <strong>Abv:</strong>
  <%= @whiskey.abv %>
</p>

<p>
  <strong>Price:</strong>
  <%= @whiskey.price %>
</p>

<p>
  <strong>Color:</strong>
  <%= @whiskey.color %>
</p>

<p>
  <strong>Nose:</strong>
  <%= @whiskey.nose %>
</p>

<p>
  <strong>Taste:</strong>
  <%= @whiskey.taste %>
</p>

<p>
  <strong>Finish:</strong>
  <%= @whiskey.finish %>
</p>

<p>
  <strong>Overall:</strong>
  <%= @whiskey.overall %>
</p>

<p>
  <strong>Score:</strong>
  <%= @whiskey.score %>
</p>

<%= link_to 'Edit', edit_whiskey_path(@whiskey) %> |
<%= link_to 'Back', whiskeys_path %>
